$play-font-family: 'Play', sans-serif;

.container {
    
    padding: 3rem;
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;
    height:auto;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

    .box {
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 15px;
        gap: 10px;
        font-family: $play-font-family;
        

    }

    .box2{
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 13px;
        font-family: $play-font-family;

        h3 {
            color:burlywood;
            background-color:#4d07f0;
            border: solid #000 1px;
            padding: 10px 80px;
            animation: ease-in 2s;

            &[copiado="true"] {
                background-color: #53d475;
            }
        }

        h2 {
            
            background: linear-gradient(to bottom, #f5f1e9 20%, #e3ceed 60%);
            border: solid #000 1px;
            padding: 10px 80px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}