$play-font-family: 'play', sans-serif;
$purple: #4b0082;
$gray: #333;
$lightGray: #ccc;
$white: #fff;


.headContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    top: 0;
    width: 100%;
    margin-top: 1em;
}

.menuContainer {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin-right: 10px;

    @media (max-width: 768px) {
        display: none; 
    }
}

.textMenu {
    font-family: $play-font-family;
    font-weight: bold;
    font-size: 30px;
    padding: 10px 15px;
    transition: 0.4s ease-out;


    &:hover {
        color: #4b0082;
    }
}

.hamburgerIcon {
    display: none;
    cursor: pointer;

    @media (max-width: 768px) {
        display: block;
        font-size: 25px;
        padding: 10px;
        margin-right: 10px;

        &:hover {
            color: #4b0082;
        }
    }
}

.overlayMenu {
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: $gray;
    padding: 10px;
    border: 1px solid $lightGray;
    display: flex;
    flex-direction: column;
    z-index: 10;

    .menuLink {
        display: block;
    }
}

.menuLink {
    text-decoration: none;
    color: $white;
    margin-bottom: 10px;
    display: none;

    p {
        font-size: 15px;
        font-weight: bold;
    }

    &:hover {
        color: $purple;
    }
}

