$fontPlay: 'Play', sans-serif;
$open: false;

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;

    h1 {
        font-size: 3rem;
        font-family: $fontPlay;
        font-weight: 700;
    }

    p {
        margin-top: 10px;
        font-family: $fontPlay;
        font-size: 1rem;
        padding: 10px;
    }
}


.box {
    width: 95%;
    object-fit: cover;
    

    img {
        display: block;
        max-width: 90%;
        height: auto;
        object-fit: cover;
        padding: 10px;
    }
}

.customSwiper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.customSwiperSlide {
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 90%;
}

.slideContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.centeredImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; // Ou "cover" dependendo do comportamento desejado
}


.text {
    text-align: center;
    padding: 10px;
    height: 100%;

    p {
        font-family: $fontPlay;
        font-size: 15px;
        letter-spacing: 1.5px;
        font-weight: bold;
        color: blueviolet;
        margin-bottom:10px  ;
    }

    h1 {
        font-size: 25px;
        font-family: $fontPlay;
        color: blueviolet;
        font-weight: bold;
    }
}

.modalContainer {
    width: 80vw;
    max-width: 450px;
    background-color: #ECECEC;
    border-radius: 12px;
    padding: 16px;
    position: absolute;
    top: if($open, 5%, -100%);
    opacity: if($open, 1, 0);
    transform: 0.7s ease;
    z-index: 2;
}

.open {
    top: 5%;
    opacity: 1;
}

.flex {
padding: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    position: relative;


    h1 {
        margin-top: 40px;
        color: #4a5059;
        font-family: $fontPlay;
        font-size: 25px;
    }

    ul {
        padding: 15px;

        li {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;

            span {
                padding: 2px;
                margin-right: 4px;
                font-size: 18px;
            }
        }
    }

    div {
        span {
            font-size: 18px;
            color: #4a5059;

            a {
                :hover {
                    color: blueviolet;
                }
            }
        }
    }

    img {
        max-width: 50%;
        height: auto;
    }
}

.modalContent {
    background: white;
    border: 5px solid #000;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    position: relative;

    h1 {
        color: #4a5059;
        font-family: $fontPlay;
        font-size: 25px;
    }

    ul {
        padding: 15px;

        li {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                padding: 2px;
                margin-right: 4px;
                font-size: 18px;
            }
        }
    }

    div {
        span {
            font-size: 18px;
            color: #4a5059;

            a {
                :hover {
                    color: blueviolet;
                }
            }
        }
    }

    img {
        max-width: 50%;
        /* A imagem não irá ultrapassar a largura do seu container */
        height: auto;
        /* A altura se ajustará automaticamente */
    }
}

.closeButton {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 2%;
    top: 2%;
    background-color: #1a1a1a;
    border-radius: 50%;
    color: #ECECEC;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;

    :hover{
        cursor: pointer;
    }
}