$fontPlay: 'Play', sans-serif;

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;

    h1 {
        font-size: clamp(2rem, 4vw + 1rem, 4.5rem);
        font-family: $fontPlay;
        font-weight: 700;
    }

    p {
        font-family: $fontPlay;
        font-size: clamp(1.5rem, 2vw + 0.5rem, 1.4rem);
    }
}

.box {
    width: 100%;
    display: flex;
}

.customSwiperSlide {
    display: flex;
    justify-content: center;
    width: 200px; 
 
    margin: 10px; 
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    @media (max-width: 768px) {
        width: 90%; 
        max-width: 350px; 
    }

    @media (max-width: 480px) {
        width: 90%; 
        max-width: 300px; 
    }
}


.centeredImage {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.text {
    text-align: center;
    h1 {
        font-size: clamp(1.5rem, 3vw + 1rem, 2.5rem);
        font-family: $fontPlay;
        color: blueviolet;
        font-weight: bold;
    }
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    color: blueviolet;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.modalContent {
    background-color: #FFF;
    border-radius: 8px;
    border: none;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.modalImage {
    width: 100%;
    height: auto;
}

.modalTitle {
    margin: 0 0 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.modalList {
    list-style: none;
    padding: 0;

    li {
        margin-bottom: 10px;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 30px;

            span {
                font-weight: bold;
                font-size: 2rem;
                margin-bottom: 5px;
            }

            p {
                font-size: 1.5rem;
                color: black;
                font-weight: bold;
            }

            a {
                font-size: 1.5rem;
                font-weight: bold;
                color: blue;
            }
        }
    }
}

.button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4b0082;
    font-weight: bold;
    color: white;

    &:hover {
        cursor: pointer;
        background-color: #6801b1;
    }
}
